{% extends "base.html" %}

{% block title %}
<title> Task Manager - Edit Task </title>
{% endblock title %}

{% block content %}
{% if task.manage == request.user %}
    <br/>
    <br/>
  <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" name="task" class="form-control" id="task" aria-describedby="add task" placeholder="Edit Task" value = "{{task.task}}">
          <input type="hidden" name="done"  id="done"  value = "{{task.done}}">
      </div>
      <button type="submit" class="btn btn-primary">Edit Task</button>
    </form>
{% else %}
<br/><br/>
<h1> Access Restricted! You are not allowed.</h1>
{% endif %}
{% endblock content %}